h1 {
    color: blueviolet;
}

.yellowgeback {
    background-color: yellow;
}
.fuchsiaback {
    background-color: fuchsia;
}
.blueback {
    background-color: blue;
}
.orangeback {
    background-color: orange;
}