canvas {
    width: 300px;
    border: 1px dotted #04AA6D;
    border-radius: 3px;
    background-color: #eeeda7;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
}
canvas:hover {
    background-color: #04AA6D;
    border: 1px dotted #ffffff;
}
body {
    background-color: #fffed3;
    font-family: "Segoe UI",Arial,sans-serif;
    text-transform:uppercase;
}
h1 {
    font-size: 35px;
    color:  black;
    font-family: "Segoe UI",Arial,sans-serif;
}
h2 {
    font-size: 25px;
    color:black;
    font-family: "Segoe UI",Arial,sans-serif;
    padding-bottom: 0px;
    margin-bottom: 5px;
}
input {
    background-color: #04AA6D;
    border-radius: 3px;
    color: white;
    border: none;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Segoe UI",Arial,sans-serif;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    border: 1px dotted #04AA6D;
    
}
input:hover {
    background-color: #048455;
    border: 1px dotted white;
}
#finput {
    font-size: 10px;
}